#wrapper{
  width: 60em;
  margin: auto;
  padding: 5em;
}

.heading{
  font-family: lato;
  color: #47a3da;
  font-size: 2.5em;
  font-weight:500;
  left: 30em;
}


h1{
  font-family: lato;
  color: #47a3da;
  font-size: 2em;
  /*padding-bottom: 7px;*/
  font-weight: 200;
}

/*h2{
  font-family: lato;
  color: #47a3da;
  font-size: 1.7em;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: solid #DDD 1px;
}*/


p{
  font-family: lato;
  color: #888;
  letter-spacing: 1.4px;
  font-weight: 1px;
}

li{
  /*font-family: FontAwesome; //Attempt at putting
  content: '\f18e';*/
  color: #47a3da;;
  margin-left: 50px;
  letter-spacing: 3px;
  font-family: lato, sans-serif;
}

.accordion.js > * {
  overflow: hidden;

}
/*The following is the CSS from Will Mitchell's code found on Code Pen. Again, I see some really interesting corresponding classifications with the asterisks and less than signs. I still struggle to understand what specific role those play, but I know it is tied directly to the JS he wrote.  */
.accordion.js > *:not(.expanded) > *:not(h1) {
  max-height: 0; /* Simple restrictions for actual size of drop-down I'm assuming. Because it is hidden here, author intends for its class to be changed in JS */
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.accordion.js > .expanded > *:not(h1) { /*The :not(h1) looks like it is excluding h1 from this drop-down action? Did Mitchell have to put this because of the function he wrote in JS? Yet another seemingly unsolvable mystery in Kaitlin's Journey Into JavaScript. */
  max-height: 10em;
  opacity: 1;
  visibility: visible;
}

.accordion.js > * > h1 {
  cursor: pointer;
  visibility: visible;
}

.accordion.js > * > *:not(h1) {
  transition: max-height 1s,
    visibility 1s,
    margin 1s,
    opacity 1s;
}
