
#wrapper{
  width: 50em;
  margin: auto;
  padding: 5em;
}

.heading{
  font-family: lato;
  color: #47a3da;
  font-size: 2.5em;
  font-weight:400px;
  left: 30em;
  padding-left: 100px;
  padding-bottom: 50px;
}

p{
  font-family: lato;
  color: #888;
  letter-spacing: 1.4px;
  font-weight: 1px;
  padding-left: 100px;
  font-weight: 100;
}

li{
  /*font-family: FontAwesome; //Attempt at putting
  content: '\f18e';*/
  color: #47a3da;
  margin-left: 50px;
  letter-spacing: 3px;
  font-family: lato, sans-serif;
  font-weight: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
  list-style-position: inside;
}

button{
  border-style: none;
  background-color: white;
  border-bottom: solid 2px #888;
  outline: 0;
  /*border: red solid 2px;*/
  text-align: left;
  margin-left: 130px;
  display: inline;
}

button:hover{
  border-style: none;
  background-color: white;
  border-bottom: solid 2px #888;
  outline: 0;
  cursor: pointer;
}


#marshmallow{
  visibility: visible;
  width: 600px;
  font-family: lato;
  color: #47a3da;
  font-size: 2em;
  /*padding-bottom: 7px;*/
  font-weight: 200;
  /*padding-left: 25px;*/
  border-bottom: solid 1px #DDD;
}

.marshmallow-p{
display: none;
padding: 10px;
max-height: none;

}

.marshmallow-p.showing{
  display: inline-block;
  font-family: lato;
  color: #888;
  letter-spacing: 1.4px;
  font-weight: 1px;
  padding-left: 100px;
  font-weight: 100;

}

.marshmallow-li{
  display: none;
}

.marshmallow-li.showing{
  display: block;
  color: #47a3da;
  margin-left: 50px;
  letter-spacing: 3px;
  font-family: lato, sans-serif;
  font-weight: 200px;
  padding-left: 100px;
  list-style-position: inside;

}

#skunk{
  visibility: visible;
  width: 600px;
  font-family: lato;
  color: #47a3da;
  font-size: 2em;
  font-weight: 200;
  border-bottom: solid 1px #DDD;
  text-align:left;
}

.skunk-p{
  display: none;
}

.skunk-p.showing{
  display: inline-block;
  font-family: lato;
  color: #888;
  letter-spacing: 1.4px;
  font-weight: 1px;
  padding-left: 100px;
  font-weight: 100;

}

.skunk-li{
  display: none;
  height: 10px;
}

.skunk-li.showing{
  display:block;
  color: #47a3da;
  margin-left: 50px;
  letter-spacing: 3px;
  font-family: lato, sans-serif;
  font-weight: 200px;
  padding-left: 100px;
  list-style-position: inside;

}

#chomper{
  visibility: visible;
  width: 600px;
  font-family: lato;
  color: #47a3da;
  font-size: 2em;
  /*padding-bottom: 7px;*/
  font-weight: 200;
  border-bottom: solid 1px #DDD;
  padding-top: 20px;
  text-align: left;
}

.chomper-p{
  display: none;
}

.chomper-p.showing{
  display: inline-flex;
  position: relative;
  font-family: lato;
  color: #888;
  letter-spacing: 1.4px;
  font-weight: 1px;
  padding-left: 100px;
  font-weight: 100;

}

.chomper-li{
  display: none;
  height: 10px;
}

.chomper-li.showing{
  display: block;
  color: #47a3da;
  margin-left: 50px;
  letter-spacing: 3px;
  font-family: lato, sans-serif;
  font-weight: 200px;
  padding-left: 100px;
  list-style-position: inside;

}

.arrow{
  /*padding-top: 50px;
  padding-left: 80px;*/
  color: #ddd;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
}

.arrow:hover{
  /*padding-top: 50px;
  padding-left: 80px;*/
  color: #ddd;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
  cursor: pointer;
  transform:rotateZ(45deg);
}

.arrow.showing{
  color: #47a3da;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
  transform: rotateZ(90deg);
}

.arrow2{
  /*padding-top: 50px;
  padding-left: 80px;*/
  color: #ddd;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
}

.arrow2:hover{
  /*padding-top: 50px;
  padding-left: 80px;*/
  color: #ddd;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
  cursor: pointer;
  transform:rotateZ(45deg);
}

.arrow2.showing{
  color: #47a3da;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
  transform: rotateZ(90deg);
}

.arrow3{
  /*padding-top: 50px;
  padding-left: 80px;*/
  color: #ddd;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
}

.arrow3:hover{
  /*padding-top: 50px;
  padding-left: 80px;*/
  color: #ddd;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
  cursor: pointer;
  transform:rotateZ(45deg);
}

.arrow3.showing{
  color: #47a3da;
  /*transform: rotateZ(90deg);*/
  display: inline-block;
  font-size: 50px;
  /*border: red 2px solid;*/
  font-weight: lighter;
  transform: rotateZ(90deg);
}
