/*banner*/
.nav {
  display: flex;
  background-color: #919191;
  font-weight: bold;
  font-style: normal;
  font-family: Tahoma;
  padding: 5px 15px 5px 25px;
}

body {
  background-color: #CECECE;
  font-family: Tahoma;
  font-size: 14px
}

#logo {
  border-style: solid;
  border-color: white;
  border-left-width: 1px
  margin: 40px;


}
ul{
  list-style: none;
}
